body, html {
    height: 99%;
    margin: 0;
    padding: 0;
    background-image: url("https://st3.depositphotos.com/1103339/13209/v/1600/depositphotos_132095056-stock-illustration-abstract-seamless-pattern-in-postmodern.jpg");
}

.container {
    height: 100vh; /* 100% of the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        117deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(125, 129, 150, 0.9757503221014968) 96%,
        rgba(222, 199, 45, 1) 98%,
        rgba(222, 199, 45, 1) 98%,
        rgba(142, 49, 242, 0.5859143339953169) 98%
    );
    color: #ffff;
    font-family: cursive;
    border-radius: 1.25rem;
}

.container h2 {
    text-align: center;
}

.screen {
    display: flex;
    justify-content: center;
}

.screen__content {
    max-width: fit-content; /* Adjust as needed */
    width: 100%;
}

.login {
    width: 100%;
}

.login label {
    display: block;
    margin-bottom: 5px;
}

.login input {
    margin-top: 30px;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.login .form-group {
    margin-bottom: 15px;
}

.login button {
    display: block;
    margin-top: 30px;
    width: 100%;
    padding: 0.75rem;
    background: rgb(2, 0, 36);
    color: inherit;
    border-radius: 15px;
    cursor: pointer;
}