.background
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgVcKRQ-_HRRt6-mXZ1Zuvpoy1SWx0qTCVcA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
}